* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dadfe8;
}

.pokedex {
  display: flex;
  gap: 30px;
  padding: 30px 0;
}

ul {
  list-style-type: none;
}

.cartao-pokemon {
  display: none;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 10px;
}

.cartao-pokemon .cartao-topo {
  padding: 30px 40px 0;
}

.cartao-pokemon .nome {
  margin-bottom: 5px;
}

.cartao-pokemon .tipo {
  font-size: 12px;
  background-color: #ffffff;
  opacity: 0.7;
  border-radius: 20px;
  padding: 5px 10px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.cartao-pokemon .detalhes {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartao-pokemon .cartao-imagem {
  width: 350px;
  height: 350px;
}

.cartao-pokemon img {
  max-height: 100%;
}

.cartao-pokemon .cartao-informacoes {
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  padding: 60px 30px 50px;
  margin-top: -70px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.cartao-pokemon .cartao-informacoes h3 {
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.status,
.habilidades {
  padding: 0 10px;
  width: 180px;
}

.status ul li,
.habilidades ul li {
  color: #fff;
  border-left: 3px solid #c3c4c5;
  padding: 0 5px 5px;
  margin-bottom: 5px;
  font-size: 15px;
}

.cartao-pokemon.aberto {
  display: block;
}

.tipo-fogo {
  background-color: #ed8a8b;
}

.tipo-fogo .status ul li,
.tipo-fogo .habilidades ul li {
  border-left: 3px solid #ed8a8b;
}

.tipo-eletrico {
  background-color: #fcc719;
}

.tipo-eletrico .status ul li,
.tipo-eletrico .habilidades ul li {
  border-left: 3px solid #fcc719;
}

.tipo-agua {
  background-color: #76befe;
}

.tipo-agua .status ul li,
.tipo-agua .habilidades ul li {
  border-left: 3px solid #76befe;
}

.tipo-grama {
  background-color: #0ba85f;
}

.tipo-grama .status ul li,
.tipo-grama .habilidades ul li {
  border-left: 3px solid #0ba85f;
}

.tipo-fantasma {
  background-color: #ba68c8;
}

.tipo-fantasma .status ul li,
.tipo-fantasma .habilidades ul li {
  border-left: 3px solid #ba68c8;
}

.tipo-dragao {
  background-color: #c29791;
}

.tipo-dragao .status ul li,
.tipo-dragao .habilidades ul li {
  border-left: 3px solid #c29791;
}
